
@font-face{
    font-family: poppins;
    src: url('assets/Poppins/Poppins-Regular.ttf');
}

*{  
    font-family: poppins;
    /* color: #fefefe; */
    padding: 0%;
    margin: 0px;
    

}

body{
    overflow-y: hidden;
 
    overflow-x: hidden;
    
}

.whole{
    background-color: #212fa9;

}



  

.titles{
    position: relative;
    z-index: 5;
    left: 100px;
    width: 300px;
    top: 10px;
    
}

.HC-Assist{
    font-size: 50px;
    font-style: italic;
    margin-bottom: -20px;
    font-weight: light;
}

.subtitle{
    width: 400px;
    font-size: 18px;
    font-weight: 200;
}

.loginForm{
    background-color: #3E4BBA;
    /* display: flex;
    justify-content: flex-start; */
    width: 400px;
    padding: 20px;
    position: relative;
    z-index: 4;    
    left: 80px;
    top: 80px;
    padding: 10px;
}

.loginForm *{
    margin: 10px;
}

.loginForm input{
color: black;
height: 30px;
width: 350px;
border-radius: 5px;
border: none;
}

button{
    font-weight: 600;
    color:  #3E4BBA;
}



button:hover{
    font-weight: 600;
    background-color: #aeaeae;
    cursor: pointer;
    color:  #212fa9;
}

button:active{
    font-weight: 600;
    background-color: #575757;
    cursor: pointer;
    color:  #7f87cf;
}

.image-container img{
    position: absolute;
    left: 350px;
    bottom: 2px;

}

.left-slantbox{
    position: absolute;
background-color: #3E4BBA;
/* background-color:  #14162f; */

height: 80vh;
width: 80%;
bottom: 30px;
right: 490px;
transform: rotate(75deg);
z-index: 3;


}

.right-slantbox{
    position: absolute;
    background-color:  #3E4BBA;
    /* background-color:  #14162f; */

    height: 80vh;
    width: 80%;
    bottom: 30px;
    left: 700px;
    transform: rotate(75deg);
    z-index: 2;
 

}

.design{
    position: absolute;
    width: 100%; /* Or a specific width like 100vw or a fixed value */
    height: 100vh; /* Or a specific height */
    overflow: hidden; /* Prevents content from overflowing */
    box-sizing: border-box; 
    bottom: 0px;
    margin: 0px;
    left: 150px;
}

.login-btn{
    padding:10px;
    width: 150px;
    height: 40px;
    font-size: medium;
    border-radius: 5px;
    border: none;
    margin-left: 100px;
    margin-top: 50px;
}

.triangle {
    width: 100px;
    height: 100px;
    background-color: red;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position:absolute;
    z-index: 6;
    
}
