.Notification{
    position: fixed;
    /* top: 445px;
    left: 30px; */
    /* z-index: 1; */
 
     color: white;
     left: 150px;
     border-radius: 100px;
     padding: 10px;
     font-size: 15px;
     bottom: 60px;
     /* width: 150px;
    height: 29px;
    text-align: end;
    padding-top: 10px;
    padding-right: 20px; */
    
     
}

.badge:hover{
    background-color: rgb(176, 55, 55);
    cursor: pointer;
}

.badge{

    background-color: rgb(231, 62, 62);

    border-radius: 50px;
    height: 25px;
    width: 25px;
text-align: center;
    
    
    /* cursor: 'pointer';
    color: 'white';
    background: 'red';
    borderRadius: '50%';
    padding: '10px';
    position: 'absolute';
    zIndex: 1;
    top: '10px';
    right: '10px'; */
}


.noActiviyMed-image {
    position: relative;
    top: 30px;
    width: 200px;
    height: 200px;

}


.noActiviyMed-image img {
 
    width: 200px;
    height: 200px;

}


.stockIn{
    position: absolute;
    z-index: 2000;
    border-radius: 10px;
    top: 200px;
    left: 490px;
    box-shadow: -2px 2px rgb(0, 0, 0);

}

.stockIn-content{
    width: 350px;
    height: 150px;
    background-color: white;
    border-radius: 10px;

}


.stockIn-title{
    background-color: rgb(62, 75, 186);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 25px;


}
#stockIn-input{
    width: 100px;
}


#save-changesStockIn{
    position: absolute;
    bottom: 20px;
    height: 25px;
    left: 130px;
    z-index: 200px;
}

#stockIn-expiration{
    width: 150px;
}

.stock-squeeze{
    position: relative;
    left: 40px;
}
















.StockOut{
    position: absolute;
    z-index: 2000;
    border-radius: 10px;
    top: 200px;
    left: 490px;
    box-shadow: -2px 2px rgb(0, 0, 0);

}

.StockOut-content{
    width: 350px;
    height: 300px;
    background-color: white;
    border-radius: 10px;

}


.StockOut-title{
    background-color: rgb(62, 75, 186);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 25px;


}
#StockOut-input{
    width: 100px;
}


#save-changesStockOut{
    position: absolute;
    bottom: 20px;
    height: 25px;
    left: 130px;
    z-index: 200px;
}

#StockOut-expiration{
    width: 150px;
}

.stock-squeeze{
    position: relative;
    left: 40px;
}

.Medcard-container{
    position: relative;
    height: 360px;
    width: 980px;
    max-height: 400px;
    top: 45px;
    left: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border-top-left-radius: 0px;


}

.Medcard-container::-webkit-scrollbar{
    display: none;
}

.Medcard{
    background-color: aliceblue;
    height: 230px;
    width: 210px;
    margin: 15px;  
    border-radius: 10px; 
    overflow: hidden;
    font-size: smaller;
    box-shadow: -4px 4px 4px rgba(51, 51, 51, 0.708);

}

.Medcard-profile{
    background-color: rgb(88, 88, 88);
    height: 140px;
}

.Medcard-profile img{
    height: 140px;
    width: 220px;

    /* opacity: 10%; */
}

.Medcredentials{
    margin: 10px;
}

.Medcard-title{
    background-color: #3E4BBA;
    color: aliceblue;
    position: absolute;
    padding: 5px;
    border-top-left-radius: 5px;
    left: 220px;
    top: 100px;
    width: 160px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 20px;

}